@import "src/assets/styles/breakpoint";

.overviewContainer {
  width: 100%;
  height: 100%;

  @include desktop {
    display: flex;
    flex-direction: row;
  }
}

.mapContainer {
  @include mobile {
    width: 100%;
    height: 100vw;
  }

  @include desktop {
    flex-grow: 1;
    height: 100%;
  }
}

.listContainer {
  @include desktop {
    width: 720px;
  }
  @include mobile {
    width: 100%;
  }

  .searchContainer {
    text-align: center;
    padding: 20px 0;
    background: #F3F9FA;
  }

  .summaryList {
    &>div:nth-child(odd) {
      background: #F3F9FA;
    }
  }
}
