@import "src/assets/styles/_breakpoint.scss";

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 1px 6px #A9B7BD;

  @include desktop() {
    padding: 10px 100px;
  }
  @include mobile() {
    padding: 6px 20px;
  }
}

.logo {
  text-decoration: none;
  font-family: poiret-one, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #38A1BF;
  line-height: 1;
  cursor: pointer;

  @include desktop() {
    font-size: 46px;
    padding-top: 8px;
  }

  @include mobile() {
    font-size: 30px;
    padding-top: 4px;
  }
}

.toggle {
  width: 16px;
  height: 16px;
  margin-left: auto;
}
