@import "src/assets/styles/breakpoint";

* {
  font-family: open-sans, sans-serif;
  font-style: normal;
}

.NavItems {
  padding: 0;
  list-style: none;
  display: flex;
  height: 100%;

  @include mobile {
    flex-flow: column;

    li {
      margin: 10px 0;
    }
  }

  @include desktop {
    flex-flow: row;
    margin-left: auto;
    align-items: center;

    li {
      margin-left: 32px;
    }
  }
}


.Item a {
  color: #000000;
  text-decoration: none;

  @include desktop {
    font-size: 16px;
  }
}

.Item a:active,
.Item a.active,
.Item a:hover {
  color: #38A1BF;

  svg path {
    fill: #38A1BF;
  }
}

.Item a.active {
  font-weight: bold;
}
